[2017-12-18 09:16] Rafiot commented on #633
Thank you very much, I'm closing this bug for now then, please reopen if needed.

[2017-12-18 09:16] #633 closed

[2017-12-18 09:24] #636 closed

[2017-12-18 09:24] Rafiot commented on #636
Good catch, we forgot to change it. Fixed now.

[2017-12-18 09:27] Rafiot commented on #632
That's what we beg for not having unit tests... Working on it right now.

[2017-12-18 15:01] #632 closed

[2017-12-19 12:38] alex-bender opened #639 "Can't run viper-cli"
Fresh version of viper (git clone) results in error during launch:
[code]
OS: Debian 8
Python: 3.6

`pip3 install pymisp`
resolves this issue

[2017-12-19 12:39] Rafiot commented on #639
Woops, good point, I'm fixing it, thanks

[2017-12-19 12:40] alex-bender commented on #639
Whoa! Super fast response -- Thanks!

[2017-12-19 13:59] #639 closed

[2018-01-03 22:23] Tux-Panik opened #641 "Avoid output verbosity in the new release?"
Dear,
I just installed the last commit of Viper-Framework.
I don't know why, I have a verbose output in console when I run "sudo python3 viper-cli"

`sudo python3 viper-cli`
`/usr/local/lib/python3.4/dist-packages/pymisp/mispevent.py:636: DeprecationWarning: Call to deprecated function get_known_types.`
`  def get_known_types(self):`
`/usr/local/lib/python3.4/dist-packages/pymisp/mispevent.py:636:

[2018-01-03 22:59] Rafiot commented on #641
I need to update the calls to PyMISP in viper... Adding it to the TODO list :)

[2018-01-04 11:03] #641 closed

[2018-01-04 21:59] #545 closed

[2018-01-04 22:02] Tux-Panik commented on #641
Thanks Rafiot. It works fine now.
Regards,
Julien

[2018-01-09 01:47] zTemplar85 commented on #632
Apologies for this but encountering issue with both clamav and fuzzy.

**fuzzy**
![image](https://user-images.githubusercontent.com/5791182/34701237-f6be7a0c-f521-11e7-9ae8-c7b1824ab042.png)

clamav
![image](https://user-images.githubusercontent.com/5791182/34701254-131c9760-f522-11e7-8460-9ae4c05ab0b8.png)

[2018-01-09 10:17] Rafiot commented on #632
This is line 119 in the fuzzy module now: https://github.com/viper-framework/viper/blob/master/viper/modules/fuzzy.py#L119

Can you please git pull the most recent version of viper?

[2018-01-09 17:08] dycodersc commented on #573
@Melwer Any update on this? I'm having some issues with sqlite since I'm storing 60k+ samples and it gets extremely slow on queries. Looking into migrating to mysql or postgres.

[2018-01-10 06:23] zTemplar85 commented on #632
Hi, had performed a git pull. Followed by sudo make install.

[code]

[2018-01-10 09:32] Rafiot commented on #632
Right, can you do that: `pip install git+https://github.com/MISP/PyMISP`

I did a few changes in PyMISP that aren't in the most recent tagged version.

[2018-01-11 14:26] zTemplar85 commented on #632
Working well now :+1:

[2018-01-13 16:55] acd62081 commented on #433
@frennkie Is the django web interface project dead? I can't find it on your repository any longer. Just curious. I thought it was much nicer than the flask version. I have been using it and had very few issues for the basic things that I do. The issues that did come up were fairly simple fixes. BTW I am not very efficient with django or python but know enough to get into trouble.

[2018-01-13 17:09] frennkie commented on #433
Nope.. definitely not dead.. more 'resting'.. ;-)
https://github.com/frennkie/viper/tree/django

Any help with finding bugs and improvement suggestions are highly welcome!

[2018-01-13 18:07] acd62081 commented on #433
Great, Thanks!
I will submit anything I find...

I noticed that in the manage.py file the web.web.settings needed to be changed to viper.web.settings in order to use the manage.py functions, like create a superuser.

[2018-01-19 21:10] frennkie commented on #433
Fixed, Thanks!

[2018-01-30 07:39] Th4nat0s commented on #612
Yes @botherder is it ok ? :)

[2018-01-30 23:49] Th4nat0s commented on #611
Anyone will commit it ?

[2018-01-31 10:30] Rafiot commented on #611
Not sure the django web interface is ready to be merged... But if it is, let me know :)

[2018-01-31 10:53] frennkie commented on #611
@Rafiot I still think it is a good idea to pursue the path described in #412..
If have been working a bit more on the Django code (Upgrade to Django2 and Bootstrap 4)

[2018-01-31 11:11] frennkie commented on #611
If we do a "stable" 1.4 release then it makes sense to fix this security related issue in the Bottle/Flask web site. As the fix is trivial I opened the PR.

[2018-02-03 17:16] frennkie commented on #573
@dycodersc so you have 60k+ samples.. are they all in the same project? I'm asking because - as far as I see it - having multiple projects (that is databases) is only implemented for SQLite. Also creating database backups and upgrades assume to have one (or more) `viper.db` file(s).

[2018-02-04 08:44] acd62081 opened #648 "Django web not displaying output on CLI page"
Hello all,
When using the CLI webpage, I keep receiving an error of _"! The command Generated no Output"_.
This error appears for almost every command  but when I look at the terminal where I started the viper-web application I can see the results. All other pages seem to work fine.

This happens with default project or any new projects that have been created.

I do see output in the web CLI GUI w

[2018-02-04 22:40] frennkie commented on #583
Yeah.. I can confirm this.. steps to reproduce:

* setup PostgreSQL as the DB backend
* store a lot of samples quickly (e.g. by running `store -f /usr/share/`)

This will run into the error quite fast. I haven't looked any further yet, as I use SQlite for other reasons.

[2018-02-05 11:31] frennkie opened #650 "Clarification - supported DB backends?"
There are some issues that refer to database backends other than SQLite (#583 #573 #302).

The Viper documentation (https://github.com/viper-framework/viper/blob/master/docs/source/usage/concepts.rst) states that:

I tested this on PostgreSQL and also looked through the code. Having more than one database currently **only** works automatically with SQLite. A workaround is to manually edit the ``vi

[2018-02-06 10:59] #611 closed

[2018-02-08 11:03] yonilip opened #651 "Tag counting too slow"
When in the viper-cli, running "find -t" takes a lot of time to process.
Suggesting removing retrieval of the count of files associated with each tag.
Another option is to update the counter for each tag each time a file is associated, so that when the query is preformed it dosent have to go through the whole DB.

[2018-02-17 10:23] 99anhadi opened #655 "Something wrong happened while importing the module viper.modules.pdf: No module named 'viper.modules.pdftools.pdfid'"
![cuplikan layar_2018-02-17_17-23-14](https://user-images.githubusercontent.com/26619526/36340095-437f50c4-1407-11e8-814d-7fa2f958d6f2.png)
How to Fix it?

[2018-02-17 10:59] frennkie commented on #655
git submodule init
git submodule update

https://github.com/viper-framework/viper/blob/master/docs/source/installation/index.rst

[2018-02-18 09:04] #376 closed

[2018-02-18 14:03] frennkie commented on #650
Here is a log of a session using a PostgreSQL database and trying to user different projects:

[code]

So this is definitely broken.

[2018-02-20 19:53] botherder opened #657 "Installation instructions are out of date and confusing"
The transition between Python 2.7 and Python 3.x has not been very clear.
The installation documentation at https://github.com/viper-framework/viper/blob/master/docs/source/installation/index.rst has not been properly updated, and trying to now to perform a fresh install is confusing and is leading to issues. For example asking to install the core dependencies through pip should be superfluous if

[2018-02-20 19:54] #655 closed

[2018-02-20 19:55] botherder commented on #651
What is the size of your DB?

[2018-02-20 19:55] #648 closed

[2018-02-20 19:57] botherder commented on #612
As the web interface is now replaced to Django, we're closing the 1.x branch release with 1.3 that I just pushed out and we move on to a 2.x now.

[2018-02-20 19:57] #612 closed

[2018-02-20 20:07] deralexxx commented on #650
Agree, we should than change the documentation to sqlite is the only one at the moment really working

[2018-02-20 20:11] frennkie commented on #657
I agree. My suggestion would be to move away from the Makefile and rely on the Python setuptools and the setup.py. This will eventually enable us to simply install with `pip install viper-framework` (including all dependencies and so on. I have already started working on this.

[2018-02-20 21:49] botherder commented on #657
I agree with that.

[2018-02-21 10:20] yonilip commented on #651
Large, above 800K.

[2018-03-08 12:24] kovacsbalu opened #661 "Wrong project database used when starting viper-cli with -p"
When you create a new project with viper-cli -p foo
Viper create folder within projects and put stored files and init database, but file store data inserted to default viper.db

`./viper-cli -p aaa`
[code]

[2018-03-08 12:50] kovacsbalu commented on #661
and also find use .viper/projects/aaa/viper.db

[2018-03-08 14:15] frennkie commented on #661
I ran into the same issue just today .. good catch.. :-)

[2018-03-22 12:13] botherder opened #664 "Why have we forked pefile?"
I'm just noticing we're not using the actual pefile repository and we just forked it in here. Why?

[2018-03-22 12:22] botherder commented on #657
@Rafiot can you please review this?

[2018-03-22 12:25] #174 closed

[2018-03-22 12:25] #433 closed

[2018-03-22 12:25] #430 closed

[2018-03-22 12:26] #302 closed

[2018-03-22 14:11] Rafiot commented on #664
Because pefile isn't properly working with python3, the python3 fixes were taking months to be merged, if they were (there is a PR iirc), and the test cases are private, making it almost impossible to validate the changes.

it might be better now, but I'm planning to write a lief (https://github.com/lief-project/LIEF) module instead: the library is maintained, super fast, does the same things as p

[2018-03-23 19:18] frennkie commented on #657
@Rafiot yes, I didt.. but I was unsure about how/where to distribute some files (e.g. PEID and default yara rules.

Another blocking point I ran into is that specifiying requirements in the setup.py works fine for dependencies that can be installed with `pip install` from Pypi. But it did not install all our requirements that point to repositories on Github... :-(  As a hack/workaround I wrote som

[2018-04-04 17:56] mattulm opened #665 "No module named 'verifysigs'"
ubuntu@ip-10-40-132-25:/srv/viper$ ./viper-cli
[!] Something wrong happened while importing the module viper.modules.sigs_helper.sigs_helper: No module named 'verifysigs'

Tried google-fu for some time to no avail.
Anyone have an idea on how to solve this?

[2018-04-04 18:04] mattulm opened #666 "Issue running viper-web"
./viper-web
Traceback (most recent call last):
  File "./viper-web", line 22, in <module>
    django.setup()
  File "/usr/local/lib/python3.5/dist-packages/django/__init__.py", line 18, in setup
    apps.populate(settings.INSTALLED_APPS)
  File "/usr/local/lib/python3.5/dist-packages/django/apps/registry.py", line 85, in populate
    app_config = AppConfig.create(entry)
  File "/usr/local/lib/pyth

[2018-04-04 19:03] frennkie commented on #666
Hm.. django-favicon is listed in `requirements-web.txt`. Can you run this and check whether that fixes it:

[code]

[2018-04-04 19:08] frennkie commented on #665
Sorry.. the official documentation hosted on ReadTheDocs (https://viper-framework.readthedocs.io/en/latest/) is not being updated automaticall... I hope that @botherder can fix this sometime.

Please follow https://github.com/viper-framework/viper/blob/master/docs/source/installation/index.rst

[2018-04-27 03:26] mattulm commented on #665
My apologies this time. It has been awhile since I have been able to get to this. I ran the newer instructions you gave me, and they worked much better. One slight change, here:

Viper can retrieve files remotely through Tor, if you're interested in such feature you should install SocksiPy:
instead of:
$ sudo apt-get install python-socksipy
Change to:
$ sudo apt-get install python-socks

I got thi

[2018-04-27 03:27] mattulm commented on #666
This did not work for me.
I went back and followed the other link to the docs I was given, and it worked. Still got a few errors, but upgraded Django and it works for me so far. A few Modules don't but I'm sure those can be fixed.

[2018-04-27 03:27] #666 closed

[2018-05-16 14:04] geekscrapy opened #668 "Consistent use of hash type to identify file"
In the breadcrumbs and in the summary pages the sha256 hash is used, however in the page title the md5 is used. This creates some confusion to which hash is being looked at!

[2018-05-18 08:47] botherder commented on #668
True. We tried to unify to sha256 a while ago, but then some stuff was kept to md5 because of spacing/formatting.

[2018-05-18 08:53] geekscrapy commented on #668
Totally agree, and I think sha256 is the way forward, multiple commercial tools (Carbon black for instance) still utilise md5 as the primary hash. We also utilise md5 heavily my day job, easier to pass around :)
Maybe a better way to do this would be to truncate the sha256 hash where required:
a3931d...f48aed

Of course, dedupe on sha256 though!!

[2018-05-18 19:13] frennkie commented on #668
@geekscrapy What do you mean by "page title"? The only place where I can find the MD5 hash in my Viper installation is the MD5 table row.. Are you using the most current version (master)?

[2018-05-28 18:02] Melwer opened #669 "can not find viper web first usage password"
hey guys,

just installed viper on new systems, through all the way i have not set password.
thought maybe there is a default one for first usage.

anyone?

thanks ahead!

[2018-05-28 23:47] frennkie commented on #669
You can set the user name (default is admin) and also the password in the viper.conf file.

If this was not set then a random password will be generated for admin and stored on first start.
The easiest way then is to set a new admin user in viper.conf (e.g. admin2) and a password. Then (Re) start viper-web.

On 29 May 2018 03:02:27 GMT+09:00, Aeriusm <notifications@github.com> wrote:

--
Sent from

[2018-06-05 12:44] xme opened #670 ""copy -d" exception"
I was facing a strange issue when moving files between projects. The first 'copy -d' was always successful but the next ones always raised an exception. Today, I took time to investigate deeper and found the reason.

In viper/core/ui/commands.py, files to be deleted are processed in a loop:

`for item_id, item_sha256 in db.copied_id_sha256:`

But db.copied_id_sha256 is not initialized before each

[2018-06-05 15:26] deralexxx opened #671 "viper.li is broken"
I get an timeout of viper.li maybe @botherder can have a look?

Thx

[2018-06-05 16:54] botherder commented on #671
Working on it.

[2018-06-14 15:23] SteveClement opened #673 "MISP Distribution issues"
When adding hashes distribution level is set to "Organisation"

When uploading the sample, distribution level is set to "Inherit"

![screen shot 2018-06-15 at 00 19 12](https://user-images.githubusercontent.com/362025/41421539-01e532b4-7032-11e8-8dca-42026f0ca6b4.jpg)

[2018-06-14 17:01] #503 closed

[2018-06-14 17:24] DigiAngel opened #674 "sqlalchemy not found"
My process:
[code]

running viper-cli gives me:
[code]

Any assistance would be awesome....struggled to get this to work for a while now.

[2018-06-14 18:07] frennkie commented on #674
Please make sure to use Python3 (and pip3)

On 14 June 2018 19:24:25 CEST, DigiAngel <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-06-14 19:50] DigiAngel commented on #674
Worked great thank you....maybe on the front page python3 could be list as a requirement :)  Thanks again.

[2018-06-14 19:50] #674 closed

[2018-06-14 22:55] botherder commented on #670
I can't seem to be able to replicate this. Would you have a full traceback?

[2018-06-14 23:11] botherder commented on #546
This is now fixed.
The documentation is updated, and https://viper.li points directly to it for convenience.

[2018-06-14 23:11] #546 closed

[2018-06-14 23:12] botherder commented on #671
Fixed.

[2018-06-14 23:12] #671 closed

[2018-06-14 23:13] #661 closed

[2018-06-16 13:57] xme commented on #670
Removed my patch and here we go:

default viper d.exe > copy -d Archived
[+] Copied: xxxxxxxxx (xxxxxx.exe)
[!] The opened file doesn't appear to be in the database, have you stored it yet?
[!] The command copy raised an exception:
Traceback (most recent call last):
  File "/home/viper/viper/viper/core/ui/console.py", line 312, in start
    self.cmd.commands[root]['obj'](*args)
  File "/home/viper

[2018-06-17 09:03] botherder commented on #670
Is this for a stored file from an existing project or just an opened file?

[2018-06-18 05:55] Jtrombley-cr opened #675 "Enable Download Sample from Virustotal in Web UI"
How can I enable the Download Sample from Virustotal button in the Web UI?

I am using the latest master branch and followed the install instructions with no errors.

[2018-06-18 07:33] xme commented on #670
Just an imported file and already stored in the 'default' project.

[2018-06-18 10:41] #670 closed

[2018-06-18 10:41] botherder commented on #670
This should be fixed now, let me know if it works.

[2018-06-18 11:37] botherder commented on #664
Have you made any progress on this?
If not, I can take a crack at it.

[2018-06-18 13:54] botherder commented on #675
I believe you need to add your VirusTotal key to the viper configuration file (~/.viper/viper.conf).

[2018-06-18 14:19] botherder opened #676 "Tests fail for new changes to web interface"
I am trying to resolve issues with the Travis builds of Viper, and there are still few left unresolved. The majority has to do with viper-web and viper-api.

https://travis-ci.org/viper-framework/viper/jobs/

This is an open ticket to remind ourselves to update the tests and try to get the build to succeed.

[2018-06-18 14:19] botherder commented on #676
@frennkie any help on this would be very welcome.

[2018-06-18 14:20] botherder commented on #657
For the moment I have fixed some of the issues with the Makefile and the configuration. I would agree that a pip package would be best, but we should probably open a separate ticket on that. @frennkie is there any help we can give you on this?

[2018-06-18 14:21] botherder commented on #445
This still needs some work. The viper-update is still not working.

[2018-06-18 14:22] #408 closed

[2018-06-18 14:22] botherder commented on #413
Should we close this in favor of the pip package?

[2018-06-18 14:23] #600 closed

[2018-06-18 14:23] #437 closed

[2018-06-18 14:23] #356 closed

[2018-06-18 14:23] #342 closed

[2018-06-18 14:24] #277 closed

[2018-06-18 14:24] #163 closed

[2018-06-18 14:25] #424 closed

[2018-06-18 14:25] #296 closed

[2018-06-18 14:44] Jtrombley-cr commented on #675
Wow, I feel dumb. I edited the wrong conf file. Thanks for the quick response.

[2018-06-18 14:51] Jtrombley-cr commented on #675
~/.viper/viper.conf and /user/local/lib/python3.6/site-packages/viper-2.0-dev0-py3.6.egg/viper.conf both have the VTI key with the virustotal_has_intel_key = True and I am still not getting the button to enable.

[2018-06-18 15:32] shibumi commented on #342
Why has been this closed? implemented?

[2018-06-18 15:32] shibumi commented on #351
Why has been this closed? implemented?

[2018-06-18 15:36] botherder commented on #675
Let me look into that.

[2018-06-18 15:40] botherder commented on #342
I believe it has, yes.
![1529336355_1739_18 06 2018_1920x1080](https://user-images.githubusercontent.com/1032671/41546711-ac85daa4-731e-11e8-9a1f-e59735e3d1f5.png)

[2018-06-18 15:42] botherder commented on #351
It hasn't. I closed it for inactivity and because it referred to an older version of the web interface that has been replaced. I'll re-open it for the moment given it seems like it is still of interest to you.

[2018-06-18 15:46] shibumi commented on #342
cool thx!

[2018-06-19 10:30] Rafiot commented on #664
No, I haven't :/ So yeah, if you can take a crack at it, that would be great.

[2018-06-21 21:46] seamustuohy commented on #392
**DEAR DOCKER USERS FROM THE FUTURE: Here is what we figured out so far.[*](https://xkcd.com/979/)**

If you are using viper in a docker container you will encounter a similar error if you don't have your environment set to use `C.UTF-8` as the `LANG`.  Others, such as `en_US.UTF-8` or `UTF-8` haven't worked for me.

As of commit https://github.com/viper-framework/viper/commit/5cf700761d904d9002a2

[2018-06-22 08:44] botherder commented on #392
Weird. What did change in that commit to trigger this issue?

[2018-06-22 14:08] seamustuohy commented on #392
Oh, it wasn't that commit. It has been this way for a while. It's a docker defaults issue. I was just giving that commit as a marker of the latest commit that I checked that this worked under.

[2018-06-27 06:07] akpotter opened #678 "clamav scan all raise exception"
modules/clamav.py , line 77 in ScanFile
   if not os.path.exists(session_file.path):
ArrtributeError: 'Malware' object has no attribute 'path'

=====
I fixed clamav.py with "entry_path = get_sample_path(session_file.sha256)" in yarascan.py,
please check.

[2018-07-05 19:53] xxdesmus opened #679 "urldownload API endpoint?"
I might just be missing something obvious, but it doesn't look like there's an API endpoint for uploading data via a URL, only via a local file. In the web UI there's a call to urldownload -- but I don't see anything in the document or code about a corresponding API endpoint.  Any tips?

[2018-07-05 20:02] frennkie commented on #679
No, you are right.. There is no API endpoint for performing a Viper file upload from an URL.
Would you be willing to work on a PR for this?
I'd happy to check/review it.

On 5 July 2018 21:53:16 CEST, Justin <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-07-05 20:06] frennkie commented on #679
Although I didn't initially think this is needed.. When you are calling the API endpoint you are working programmatically already... So you could simply download the file before calling the API in your client...

[2018-07-05 20:20] xxdesmus commented on #679
You'd be terrified if you saw any code I worked out. Unfortunately I'm nowhere near competent enough to do the PR.

In terms of use case: yeah, I'm just attempting to avoid downloading every file just to then save it into Viper to then delete the original file -- vs. just pulling it from the URL directly into Viper.

[2018-07-12 21:17] chpanag opened #680 "Download samples from MISP fails"
Hello,
I'm exploring the Viper-MISP integration through the MISP module. While I create successfully an event with a sample malware file attached (using the viper-cli), the module fails to download a sample from a MISP event for analysis.
The exception I get is the following:

`viper viper.conf [MISP 21] > misp download
[!] The command misp raised an exception:
Traceback (most recent call last):

[2018-07-13 09:44] Rafiot commented on #680
This is weird, it works for me.

Which version of pymisp are you using?

[code]

[2018-07-13 10:29] chpanag commented on #680
I was using 2.4.89 version of pymisp. Upgrade to 2.4.93 solved the issue. Thanks for helping.

[2018-07-13 12:04] Rafiot commented on #680
Great, thanks for the feedback :)

[2018-07-13 12:04] #680 closed

[2018-08-02 18:59] icepaule opened #682 "The installation doc is missing to install the requirements.txt"
Hello team,

first of all, thanks for the great work you are doing in giving us that excellent tool.
While doing a fresh install on a Ubuntu 18.04, I found **pip3 install -r requirements.txt** missing in the installation doc.
You might want to correct that.  :-)

Cheers
Marcus

[2018-08-14 21:36] wirehack7 opened #683 "sudo make install fails"
I'm going through the installation process as described here: https://viper-framework.readthedocs.io/en/latest/installation/

When doing that I get that error:
[code]

I did install six:
[code]

The error persists.

[2018-08-15 06:44] stormyair opened #684 "file upload size limit"
hello,

I'm countering with an issue that files greater then 1024 KBcant upload to viper.
is there any size limit to files upload (via API and web interface)?
where can i change those values?

thanks.

[2018-08-15 09:55] frennkie commented on #684
Hi, there is no upload limit.
Technically it's implemented with a temporary file (to avoid memory bound limitations).
Could it be that a tmp die is used that is too small (<1-2MB) on your system..?

On 15 August 2018 08:44:28 CEST, stormyair <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-08-15 10:01] frennkie commented on #683
Can you change this line `six==1.11.0` into `six` in `requirements-base.txt` and try again?

On 14 August 2018 23:36:21 CEST, "Markus R." <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-08-15 11:06] SteveClement opened #685 "Django Issue with viper-web"
Django 2.1 has been released.

Here are the relevant release notes: https://docs.djangoproject.com/en/2.1/releases/2.1/#features-removed-in-2-1

[code]

Quick fix would be to alter requirements, see PR #686

[code]
[code]

[2018-08-18 09:43] frennkie commented on #683
I think it's not related to the pinned version of `six`.

`sudo make install` seems more or less broken to me at the moment.

You can skip it and run `sudo pip3 install -r requirements.txt` directly to get the dependencies installed and the run viper from the local directory (`./viper-cli` or `./viper-web`).

[2018-08-18 09:44] frennkie commented on #685
@SteveClement thanks for bringing this up. I fixed this in #688.

[2018-08-18 10:01] wirehack7 commented on #683
With removing version string it works.
I've got another problem now. But that's not part of this topic (wxPython won't install)

[2018-08-18 10:08] frennkie commented on #683
make install run this:

``python3 setup.py install --record installed_files.txt``

And that seems to have problems with the requirements and some dependencies. I also got a similar error as you, didn't change anything and re-run (twice) `sudo make install` and then it completed without errors...

[2018-08-18 11:35] frennkie commented on #676
@botherder sorry for the delay (been quite busy over the summer afk...). Fixed in #689

[2018-08-18 11:48] frennkie commented on #675
Downloading samples from VT over the Web UI is currently disabled. This is hardcoded in the source.
The reason is that the code I reused looks broken to me. Also I don't have a VT private key that would have made it possible for me to test this.

Here is the relevant section: https://github.com/viper-framework/viper/blob/master/viper/web/viperweb/views.py#L350

To enable the tab in the Web UI simp

[2018-08-20 09:16] botherder opened #692 "Cleaning up Django files"
I'm not quite happy of the current structure of the viper-web code. Particularly I would like to move some of the Django files (like `manage.py` and the settings) away from the root folder, or find a better order for the application.

Any suggestions?

[2018-08-20 09:16] #685 closed

[2018-08-20 09:24] botherder opened #693 "Creating a LIEF module"
Because pefile is falling in disuse, a good alternative would be to create a separate module based on LIEF:
https://github.com/lief-project/LIEF
Or rewrite the Viper `pe` module altogether.

[2018-08-20 09:32] botherder opened #694 "sigs_helper tries to import a missing verifysigs"
On a fresh install on startup I get:

```[!] Something wrong happened while importing the module viper.modules.sigs_helper.sigs_helper: No module named 'verifysigs'```

In fact `sigs_helper.py` does import this stuff:

[code]

[2018-08-20 09:34] botherder commented on #682
That step shouldn't be necessary by running `sudo make install` although you are right that the installation docs are rather confusing currently.

[2018-08-20 09:34] #682 closed

[2018-08-20 09:35] botherder commented on #682
There is a more general issue opened at #657.

[2018-08-20 10:04] #694 closed

[2018-08-20 10:05] botherder commented on #669
I'm closing this for now, but it seems like the process is a bit confusing. Maybe it should be reviewed.

[2018-08-20 10:05] #669 closed

[2018-08-20 10:06] #668 closed

[2018-08-20 10:07] Rafiot commented on #694
IIRC, it is this one:

[code]

[2018-08-20 10:08] botherder commented on #665
@frennkie I'm following the latest instructions and yet I encounter the same `verifysigs` issue. Can you clarify what step is missing from the documentation exactly?

[2018-08-20 10:14] botherder commented on #650
I'm not sure I understand the problem. If by changing the connection configuration to specify another type of DBMS everything works fine, it is intended behavior. No?

[2018-08-20 10:26] botherder opened #695 "Split commands in separate files"
The `viper/core/ui/commands.py` is becoming pretty large and I think it would be useful to split the commands in separate files, particularly given that they are already functioning as modules, effectively.

[2018-08-20 10:27] botherder commented on #694
Shouldn't that be automatically installed by `setup.py` then?

[2018-08-20 10:39] botherder opened #696 "Create PyPi package and new rolling release model"
Releasing version of Viper has been an embarrassingly slow and painful process. At this point versioning isn't even really a useful thing.

In order to revive Viper in a more usable software, I think it is necessary that we invest some time in making a PyPi package happen, which could also allow for a proper updating mechanism and that would allow us to remove the `viper-update` utility which is o

[2018-08-20 11:15] stormyair commented on #684
thanks. found the problem. it was nginx configuration

[2018-08-20 11:16] #684 closed

[2018-08-20 16:52] frennkie commented on #696
I started looking into this some time ago.. (e.g. #614) but it's not trivial.. But I think it's definitely worth the effort.

[2018-08-20 17:10] frennkie commented on #650
Hm.. I think my main concern is that the behavior when using SQLite is documented and easily to understand... you run `./viper-cli` and can switch between projects. Each project has it's own database and the binaries are in a separate folder per project.

But if you use a different DBMS you have to exit viper, change the .conf file and then run `viper-cli -p caseA` to make sure that the selected d

[2018-08-20 17:32] frennkie commented on #665
@botherder I didn't notice that you updated the docs (https://github.com/viper-framework/viper/commit/520112a5dabe29061fc31a119ef5e9b9db5ce748#diff-31033a26c68004ee937bdad9ec8e736c).

I usually don't run "sudo make install" (see #614 and #696) but instead:

[code]

And then either `./viper-cli` or install viper with `sudo pip3 install .`.

[2018-08-20 17:41] frennkie commented on #669
@botherder well.. I didn't want to start with "admin:admin"... an alternative approach would have been to use a default (e.g. admin:admin) and refuse to do anything useful until this is changed..
Otherwise people will just start spinning up Viper instances on AWS with default login that can easily be taken over..!? :-/

[2018-08-20 20:01] botherder commented on #669
Yes, you are right. I think the general approach is valid, let's just review that the process is clear.

[2018-08-20 20:03] botherder commented on #665
But the Makefile relies on `setup.py` which should take `requirements-modules.txt` into account. For some reason something fails though.

While I'm not set on necessarily using Makefile for install, it seemed to be the most straightforward install process. Ideally, we should switch to a PyPi package.

[2018-08-21 06:47] botherder commented on #696
As a very first step we need to unify the installation process. Clearly the current `setup.py` has some issues, as not all dependencies are installed. Maybe I can for the moment change Makefile to include all the steps used by @frennkie here https://github.com/viper-framework/viper/issues/665#issuecomment-414399374 which seem to work fine.

The only downside is `sudo pip3 uninstall viper` will onl

[2018-08-21 11:33] botherder commented on #695
I started this work in the `split_cmd` branch:
https://github.com/viper-framework/viper/tree/split_cmd

[2018-08-21 19:28] botherder opened #697 "Update documentation of core commands"
The documentation is lagging behind and is missing (among many other things I suppose) the documentation that is relevant for a number of console commands that have been added over the time. This includes:

- `analysis`
- `new`
- `parent`
- `rename`
- `stats`

Documentation of some of the existing commands is also out of date as additional options have been added.

[2018-08-21 19:43] botherder opened #698 "Clean Yara rules"
The Yara rules we shipped currently by default are a bit random. We should clean them up and keep only vary generic/basic ones and remove all those specific of particular malware families. I prefer to rather expand the available supported Yara rules repositories downloadable through the `yara` module. Currently we only have those from @Neo23x0.

[2018-08-22 09:20] botherder opened #699 "Drop support for python2"
I'm rounding up the current issues that needs to be closed before releasing the 2.0 finally. One issue is some of the lingering code for python2+python3 compatibility, which I would very much like to get rid of. Therefore, I would like to consider the possibility of dropping python2 altogether and require python3 from now on.

Any objections to this?

[2018-08-22 12:13] botherder commented on #695
This should be now resolved. Closing.

[2018-08-22 12:13] #695 closed

[2018-08-22 20:30] deralexxx commented on #697
Will take that one and work on it.

[2018-08-22 20:45] botherder commented on #697
Thanks! :+1:

[2018-08-25 16:37] Rafiot commented on #699
None at all. Killing python2 compatibility is my hobby.

[2018-08-25 18:00] botherder commented on #699
:+1:

[2018-08-27 14:47] Rafiot commented on #693
We rarely reject PR ;)

LIEF has a very simple API that works with all the formats. Also, it can be installed as a python module out-of-the-box, which wasn't the case for radare last time I checked.

[2018-08-27 15:11] neriberto commented on #693
Yes, I must agree with it :)

[2018-09-01 18:42] icepaule opened #703 "Error: sha256"
Hi Viper,
could you please help me with below issue?
I'm trying to upload a file to my Cuckoo and get thi in the logfile. - On top, it has been working some time bevore.

[*] Session opened on /home/spider/.viper/binaries/b/d/c/2/bdc22ab7bd6251903d4724bfc468749be9ccc8deb44e1616f634430006def89b
2018-09-01 18:40:28 - viper-web - ERROR - views.py:690 - Error: 'sha256'

Thanks a lot for that cool tool

[2018-09-01 19:06] frennkie commented on #703
A few questions:

* Is this a permanent error?
* Can you please give step by step instructions on how to reproduce this?
* Please also look on your Cookoo host and provide any relevant from the logs there

[2018-09-04 13:05] deralexxx commented on #697
So I reviewed the doc for installation and that looks fine. commands to be done

[2018-09-04 13:50] deralexxx commented on #697
so new commands have all been documented, old command review is open....

[2018-09-05 16:09] buzzkillg230rc opened #705 "Submission to Cuckoo Ver. 2.0.6 Fails <Need Help>"
Maybe someone can help me identify the issue. When i submit a file from viper to cuckoo i receive "Unable to Submit File" I have set the ip address for cuckoo host and web in the conf file. I'm also trying to review the viper.log, but do not see anything being logged despite me `enabling` verbose logging. Any help is appreciated.

[2018-09-14 23:43] stuonela commented on #705
Hey buzzkillg did you start up the web interface, api and also cuckoo?
I bet you are in the same host or same network.

https://cuckoo.sh/docs/usage/web.html
I run the webserver like this: cuckoo web runserver 192.168.254.36:8000
https://cuckoo.sh/docs/usage/api.html
and the api like this: cuckoo api --host 192.168.254.36
after that I just start up the vmbox in headless mode and run cuckoo and is

[2018-09-17 06:33] PimmyTrousers opened #706 "Merging 2 Viper Instances"
I am currently running 2 different Viper instances and I'd decided 1 instance is sufficient. Is there an easy way to do this?

[2018-09-17 09:28] botherder commented on #706
You could copy the content of the ~/.viper/projects folder from one to the other, making sure to not rewrite things.

[2018-09-21 13:08] #706 closed

[2018-10-04 14:04] adthomson opened #708 "undefined identifier "is__elf""
Hi All,

What am I missing here? When attempting to test the yara scan feature in Viper the following error is thrown up:

`[!] The command yara raised an exception:
Traceback (most recent call last):
  File "/home/malware/viper/viper/core/ui/console.py", line 313, in start
    module.run()
  File "/home/malware/viper/viper/modules/yarascan.py", line 260, in run
    self.scan()
  File "/home/malwa

[2018-10-14 20:53] botherder commented on #696
With #702 and following commits the pip-based installation process seems to be working. PyPi packages will be uploaded when releases are made.

[2018-10-14 20:54] botherder commented on #699
I believe all the necessary changes have been made in the documentation. Closing this.

[2018-10-14 20:54] #699 closed

[2018-10-14 21:00] botherder commented on #697
Is this completed now?

[2018-10-14 21:00] botherder commented on #683
Closing, as Makefile was dropped in favor of pip install.

[2018-10-14 21:00] #683 closed

[2018-10-14 21:02] botherder commented on #445
This seems to be the most pressing element missing before being able to release 2.0.
Anyone willing to look into how to port Viper database migrations at launch so we can get rid of viper-update?

[2018-10-14 21:02] #657 closed

[2018-10-14 21:03] botherder commented on #445
Closing this in favor of moving the discussion to #407.

[2018-10-14 21:03] #445 closed

[2018-10-14 21:04] botherder commented on #407
Because `viper-update` needs to be phased out, we need to review the database migrations and update and find a new and better way to apply them. Any help on this is very much welcome.

[2018-10-14 21:07] botherder commented on #692
@frennkie any feedback on this?

[2018-10-14 21:13] botherder commented on #698
I backed up all the original Yara rules to this dedicated repository:
https://github.com/viper-framework/yara-rules
I removed all the malware-specific Yara rules from the main repository, except for `rats.yara` which is necessary for the malware module by @kevthehermit (although I'm not sure how much that is still working).

Any suggestions for generic Yara rules that could be good to add as defau

[2018-10-14 21:51] botherder opened #709 "Upgrading dependencies"
Some of our dependencies are very much out of date. While I started upgrading those that are more critical, would be good to test whether there is the opportunity to upgrade most.

cc @Rafiot

[2018-10-14 22:04] botherder opened #710 "Rats modules using outdated crypto library"
There are several modules in the `rats/` folder by @kevthehermit that are using a crypto library called `pycrypto`, mostly for AES and DES support. Unfortunately, this library hasn't been updated since 2014 and also has a vulnerable ElGamal implementation:
https://nvd.nist.gov/vuln/detail/CVE-2018-6594

We should update these modules to make use of `cryptography` instead and drop `pycrypto` all to

[2018-10-17 03:18] spaceyacht commented on #710
It seems that `cryptography` doesn't support DES, which is being used by the following Rats modules:
* nanocore
* albertino
* adwind

https://cryptography.io/en/latest/hazmat/primitives/symmetric-encryption/

Other than the lack of DES support, I can work on refactoring out as much of the pycrypto use. Might need another library (maybe M2Crypto?) for handling the DES stuff.
[code]

[2018-10-20 08:29] VoldyRCX opened #711 "<Need Help> Linking to Cuckoo Ver. 2.0.6 Fails Returned 404"
My viper version:2.0
Cuckoo version:2.0.6
I can submit the file to Cuckoo and the Cuckoo worked.when I click 'Link to latest existing Cuckoo Report'
It returned 404-Not Found
Log:

[2018-10-20 08:42] frennkie commented on #711
The "None" in the "Not Found" obviously seems to be a problem. This part of the URL should contain the web URL of your cuckoo installation: `cfg.cuckoo.cuckoo_web` (both this and `cuckoo_host` need to be set).

[2018-10-20 09:06] VoldyRCX commented on #711
Thank you very much.I set cuckoo_web & cuckoo_host.It finally worked!

[2018-10-20 09:06] #711 closed

[2018-10-21 18:12] frennkie commented on #703
@icepaule Can you provide some more details on this? Otherwise I would suggest to close this issue.

[2018-10-21 18:47] frennkie commented on #692
I recall struggling a bit with exactly this issue...  at the moment there are three files for `Django`:

* settings_local.py.sample
  * The `settings_local.py.sample` is an example file, just like `viper.conf.sample`... it can be moved (e.g. to docs?!) without any problems.
* viper-web
  * I assume you are fine with `viper-web`, right?
* manage.py
  * `viper-web` actually calls this file (`execute

[2018-10-21 18:50] frennkie commented on #679
@xxdesmus Feel free to work on this - I'll be happy to review it. If you need any pointers let me know.

[2018-10-21 19:06] frennkie commented on #675
I left the following remark/TODO in the code:

[code]

And this is still true.. so yeah.. if people have a key for the private API they might want to use it. But as I don't have one I can't implement and test this.

[2018-10-21 20:56] botherder commented on #692
It is mostly just me being obsessed about cleanliness of codebase.

[2018-11-02 10:05] deralexxx commented on #697
yes

[2018-11-02 10:54] botherder commented on #697
Thanks!

[2018-11-02 10:54] #697 closed

[2018-11-02 15:23] toomanybananas opened #715 "Web UI and Yara module disagree on path for Yara rules"
The web UI stores the Yara rules you create in `~/.viper/yara`, but the yarascan module expects rules to be in `~/.viper/data/yara`. Since ~/.viper/data doesn't exist on my system, I'm assuming `~/.viper/yara` is the correct location but didn't want to submit a PR until I confirmed it.

[2018-11-23 08:58] kadaokaduan commented on #703
Hello, I got the same problem..
First, I got my cuckoo installed with api server and web interface. When I send my malicious sample to the sandbox, it works well **on another machine**.
Second, on another machine, I install viper properly with the guidence of the office document, and everything seems to works well. I changed ``/root/.viper/viper.conf`` file with the following configuration:

[code

[2018-11-25 18:49] icepaule opened #720 "Automatic submit of new files to cuckoo"

[2018-11-25 18:53] frennkie commented on #720
Dear @icepaule, I believe I get the idea behind this request. But anyway it would be great if you could give a little more background information to avoid any confusion.

[2018-11-25 18:56] icepaule commented on #720
Hello team,
first of all thanks so much for this great work.

My aim is to use viper in such way, to transmit every new added file automatically to my cuckoo instance for submission. Although the web-gui butten "cuckoo" already works, going through each new addition and pressing it is odd.
I thought off using the "commands" section in viper.conf to establish a kind of automatic submission, but it'

[2018-11-25 18:56] icepaule commented on #720
Wow frennkie, you're fast man. I just typed the actual question...  ;-)

[2018-11-27 19:58] frennkie commented on #720
@icepaule Well, I guess I was too fast.. so this is actually a bug report that `cuckoo -f` is not working when setting it in `autorun.command`. I would have to check this (also check for code differences between the CLI and the Web (which is working for you, right?!).

[2018-11-27 20:19] frennkie commented on #720
In `modules/cuckoo.py` we do:

[code]

Which is different from the code in `viperweb/views.py`

[code]

Do you have `cuckoo_modified` enabled? If yes, why? What does/should it do? Is there a documentation for this?

[2018-11-28 11:47] icepaule commented on #720
Hi frennkie,

the modified was enable from an earlier installation of the modified cuckoo. But since the Cuckoo 2.0 is out and running for a while, I was not thinking of reverting that setting.

Anyway, I set modified=False and now the CLI does work perfect.

viper TDS%20Challan.zip > cuckoo -f
[*] Task Submitted ID: 22

I'll check with the autorun command and will give you a feedback.

Thanks so

[2018-11-29 16:47] #673 closed

[2018-12-03 03:38] kadaokaduan opened #721 "[!] Missing dependency, install pymisp (`pip install pymisp`)"
In the viper-cli, I attempt to use misp module, but when I run ``misp`` or ``misp search`` in viper-cli, I got error ``[!] Missing dependency, install pymisp (`pip install pymisp`)``.
The only command the viper-cli could handle is ``misp -h``, it gives a normal result.
I'm pretty sure that the pymisp was installed and when I import pymisp in python3, It runs well. When I run ``python3 viper-cli``,

[2018-12-03 07:45] frennkie commented on #721
There was a MISP related change a few days ago. I would suggest you make sure you have the most current version of both Viper and MISP.

[2018-12-06 07:07] kadaokaduan commented on #721
Solved this problem after git checkout to a historical commit version.

[2018-12-06 11:09] Rafiot commented on #721
I released a new version of PyMISP, it should work as expected now.

[2018-12-07 14:03] Rafiot commented on #721
Just to be sure: you installed pymisp with pip3?

[2018-12-18 07:40] WilsonZJ opened #723 "Multiple projects are not supported when using mysql"
Firstly, I used Sqlite as database. The find command became very slow when the number of samples get large. In my case, I got 820k of samples at No.1 project named allSamples. I used sql in sqlite3-cli for searching instead.
Afterwards, I migrated sqlite3 to mysql, but a new problem troubled me. whatever project I opened, viper always use the same mysql DB. If the mysql DB has a large number of da

[2018-12-19 05:10] botherder commented on #723
Closing this as it is a duplicate of #650.

[2018-12-19 05:10] #723 closed

[2018-12-22 08:16] adulau opened #724 "MISP expansion (as extended event)"
It would be nice to have the ability to do the MISP expansion (as extended event) if you are not the owner of the MISP event.

[2019-01-03 13:46] Rafiot commented on #724
We can do that, but I think it will require to do something on MISP side (cc @iglocska): when I push an update to an event, MISP need to either
* answer "you're not the owner" => and PyMISP resend the event as expention of the the original one
* directly create the expanded event without asking (potentially only do that if I pass a specific key)

Other question: what to do with admin users that ca

[2019-01-03 14:07] iglocska commented on #724
This is definitely tricky. An event edit does not always map well to an extended event, so we might not end up with the expected result. An edit basically also involves the removal and modification of existing attributes/objects - something that an extended event is **not** the right vehicle for. I would definitely prefer the dialogue option (respond back with that an edit is not possible and the

[2019-01-25 04:15] 0gawa commented on #675
Our security team begins to use Viper recently and have a key for an API key for VirusTotal Enterprise (i.e. private API key,) so we can contribute for the bug fix.
Files needed to be modified are: views.py (which runs viper cmd,) the VirusTotal module (which, I noticed, has a few bugs.)
I'll create and send a pull request.

[2019-02-01 00:18] axpatito opened #728 "New tag"
Hi everyone,

It would be great to have a new tag including the work done to migrate all of the codebase to python3. I am currently working on a docker image to automate the Devops process and be able to launch the service as needed, it would be really helpful if a new tag could be made.

Thanks!

[2019-03-05 16:51] deralexxx opened #730 "space separated, all lowercase is in reality comma seperated"
https://github.com/viper-framework/viper/blob/5cf700761d904d9002a272164735c2ed2b4e0df9/viper/web/viperapi/serializers.py#L289

@frennkie is that a wrong helping text? I played with the API today and:

`data = {
        "file_name": filename,
        "tag_list":"tag1 tag2,tag3"

    }`

I tried both comma separated and whitespace and only comma separated are respected as different tags.

[2019-03-05 17:37] frennkie commented on #730
I just tired to think how this happend.. I believe I wanted to allow tags with spaces and for that reason switched from space separated to comma separated (and forgot to change the help description).

[code]

[2019-03-05 17:49] frennkie commented on #730
So, the way how the CLI works prevents tags with spaces... I just tried that out.

Anyway I would suggest to keep the API field with comma separated. To enforce the "no-spaces" behavior also on the API (and Web) I could add another validation steps... what do you think?

[2019-03-05 18:03] frennkie commented on #730
@deralexxx fix with 911298decd4d96668f294cc1ab1cdbc3299d93dc please check.

[2019-03-05 20:30] frennkie opened #733 "TestOffice.test_code fails on Travis"
The Test `TestOffice.test_code` runs `office -c out_macro`. This fails on Travis with the message `[!] Unable to write to out_macro`.

This used to work.. it also fails locally.. @Rafiot any ideas?

[2019-03-06 07:49] deralexxx commented on #730
cool thank you for the fast response, yes that works

[2019-03-06 07:49] #730 closed

[2019-03-06 07:50] deralexxx commented on #728
you mean a tag in the github codebase, not within viper, right?

[2019-03-06 16:26] axpatito commented on #728
That is correct. A tag that fully supports Python3 officially.

[2019-03-12 09:59] k41zen opened #734 "lower case"

[2019-03-12 09:59] #734 closed

[2019-03-19 12:42] srcr opened #736 ""pe peid" raised an exception"
Running the pe peid check on a PE results in the below issue.

[code]

When i change the encoding from utf-8 to ISO-8859-1 it works normal.
https://github.com/viper-framework/viper/blob/944a29cd585e373da0097c9ff4d68c8782836c5b/viper/modules/pe.py#L385

[2019-03-19 20:15] k41zen commented on #705
I get "Error connecting to Cuckoo". However theHive and Cortex can submit without issues.

I've checked the viper.conf file and entry is correct and obviously the API is listening as Cortex can submit. So this isn't an issue with Cuckoo it seems to be an issue with Viper or my config.

Can someone help?

Running Ubuntu 16.04 and running Viper 2.0-dev.

[2019-03-19 20:32] k41zen commented on #703
I get this error too. Running Ubuntu 16.04 on 2 separate hosts (one running Viper and the other running Cuckoo). Also running theHive and Cortex on a 3rd Ubuntu 16.04 host which can submit files through to Cuckoo API without issues. So this isn't a Cuckoo issue and therefore I don't think running a "cuckoo clean" will solve this for me and I'm reluctant to loose my data.

However, in the webgui of

[2019-03-22 07:25] dirtydevv commented on #705
I'm having the same issue.

Viper web output:
[*] Session opened on
2019-03-22 07:18:45 - viper-web - ERROR - views.py:697 - Error: 'sha256'
2019-03-22 07:18:45 - django.server - INFO - basehttp.py:154 - "GET /project/default/file/01b654c15c38a907d9966a5c1515fa201472ef1e3b831062d283e6cec2763e38/cuckoo/ HTTP/1.1" 200 66

Cuckoo API output:
[22/Mar/2019 00:18:45] "GET /tasks/list HTTP/1.1" 200 -

[2019-03-22 15:24] k41zen commented on #705
The issue is in this line of code in views.py (in particular that which is in bold). However, I'm not a python guru. I suspect it's because the API has changed but if anyone could look at this it would be much appreciated.

task_list_filtered = [x for x in task_list["tasks"] if x["sample"]**["sha256"]** == sha256]

[2019-03-23 11:09] frennkie commented on #705
@k41zen @buzzkillg230rc @icepaule This issue and #703 are the regarding the same problem, right?!

I currently have a Cuckoo installation running.. Could one of you check and verify the format of the response from the Cuckoo API?

According to the documentation (https://cuckoo.sh/docs/usage/api.html#tasks-list) this should be:

[code]

This contains `"sample_id": null,` which does not make much se

[2019-03-23 11:10] frennkie commented on #703
Closed as this is most likely a duplicate.

[2019-03-23 11:10] #703 closed

[2019-03-23 18:39] k41zen commented on #705
Hey Frennkie,

Yes they are duplicate issues. I’ll test this out tonight. Thanks for having a look. Will let you know.

K41zen

On 23 Mar 2019, at 11:09, frennkie <notifications@github.com<mailto:notifications@github.com>> wrote:

@k41zen<https://github.com/k41zen> @buzzkillg230rc<https://github.com/buzzkillg230rc> @icepaule<https://github.com/icepaule> This issue and #703<https://github.com/viper

[2019-03-23 18:42] k41zen commented on #705
Think sample_id contains the task number seen in cuckoo but will take a look.

On 23 Mar 2019, at 11:09, frennkie <notifications@github.com<mailto:notifications@github.com>> wrote:

@k41zen<https://github.com/k41zen> @buzzkillg230rc<https://github.com/buzzkillg230rc> @icepaule<https://github.com/icepaule> This issue and #703<https://github.com/viper-framework/viper/issues/703> are the regarding th

[2019-03-23 20:18] k41zen commented on #705
Looking at the REST API for /files/view:

    GET /files/view/md5/ (str: md5)

    GET /files/view/sha256/ (str: sha256)

    GET /files/view/id/ (int: id)

    Returns details on the file matching either the specified MD5 hash, SHA256 hash or ID.

However, running this using curl, whilst it does return a sample back with the correct sha256 hash seems to have the wrong id.

[2019-03-23 20:31] frennkie commented on #705
I think you are right... We should be using `/files/view/<sha256>/`. I will look into it tomorrow.

[2019-03-23 20:34] k41zen commented on #705
Great thank you. After building task_list I've simply printed task_list and for a sample I get this:

{'started_on': '2019-03-23 20:07:00', 'errors': [''], 'priority': 1, 'machine': '', 'timeout': 0, 'id': 104, 'options': {}, 'guest': {'status': 'stopped', 'task_id': 104, 'manager': 'VirtualBox', 'name': 'Windows7', 'label': 'Windows7', 'started_on': '2019-03-23 20:07:01', 'id': 99, 'shutdown_on':

[2019-03-23 20:38] frennkie commented on #705
Thanks for posting this.

[code]

These double asterisks (**) actually look like Cuckoo bugs to me.. 🤔

[2019-03-23 20:40] k41zen commented on #705
No sorry the double asterisks were me trying to put it in bold. I've put it back now

[2019-03-23 20:43] frennkie commented on #705
Ah... Sorry.

If that is really the result then Cuckoo actually doesn't seem to have changed and our code should work.

Maybe we need to catch some errors on additional content of the response.

[2019-03-23 20:45] k41zen commented on #705
More than happy to help where I can. Happy to give you access to this dev Cuckoo instance too if you need it.

[2019-03-26 20:04] n3l5 commented on #583
On my dev box testing....seen the same issue while quickly uploading a large set (2000+) of files via API; no issues with quickly querying for the existence of the same set of files via API.

[2019-03-29 19:39] k41zen commented on #705
@frennkie anything I can do my side with this issue? More than happy to help.

[2019-04-04 08:47] Rafiot commented on #733
Solved.

[2019-04-04 08:47] #733 closed

[2019-04-05 10:53] dusby commented on #693
This issue can be closed (#735)

[2019-04-05 11:30] Rafiot commented on #693
Thanks!

[2019-04-05 11:30] #693 closed

[2019-04-07 19:12] frennkie commented on #705
@k41zen sorry for not coming back to you earlier - I had other things I needed to do.

I just re-activated my dev setup including Cuckoo 2.0.6. I can not reproduce your issue. Could it be that is local problem with your cuckoo database? Maybe something went wrong during the upgrade?

If you paste/send me the output of your `http[s]://host:port/tasks/list` then I could check if / what error Viper n

[2019-04-08 07:42] k41zen commented on #705
@frennkie no worries. Grateful for your time in looking at this.

Here's the output from the print for something I tried to submit this morning:

[#705 - tasks-list-output.txt](https://github.com/viper-framework/viper/files/3053174/705.-.tasks-list-output.txt)

[2019-04-08 18:31] frennkie commented on #705
I retrieved the file. I would assume that replacing the following line with this block should fix it:

In `web/viperweb/views.py` on line 691:

[code]

replace by:

[code]

Can you check/confirm?

[2019-04-10 13:41] k41zen commented on #705
@frennkie thanks for this. This now allows you to submit samples to Cuckoo. But when I click the Cuckoo button after Cuckoo has finished, it doesn't find that the sample has already been submitted and therefore doesn't provide you with the link to the already finished report.

So I'm guessing the check is still failing.

[2019-05-03 16:05] botherder commented on #728
Normally we tag for releases, and 2.0 is unfortunately still not completed. Until the full installation process is completed and bugs are resolved, it would probably just cause troubles to create a tag.

[2019-05-05 09:46] botherder commented on #736
I can reproduce it.

[2019-05-08 20:18] #728 closed

[2019-05-10 10:02] #736 closed

[2019-05-10 10:03] botherder commented on #715
@Rafiot Is this closed/fixed or affected by your recent PR merge?

[2019-05-10 10:03] botherder commented on #710
@spaceyacht that would be great.

[2019-05-10 10:04] #696 closed

[2019-05-13 08:01] Rafiot commented on #715
Yep, good point, that should be fixed by this one: https://github.com/viper-framework/viper/pull/737/commits/1c1717873ed764ad001f31c114b95ccfbe7090a4

[2019-05-17 07:24] #715 closed

[2019-05-17 07:26] botherder commented on #583
Anyone interested in looking more into the causes of this?

[2019-05-23 12:55] lysdexiafj opened #742 "lief v0.10.0.dev0 can not be found."
During installing Viper I got an issue where lief>=0.10.0.dev0 ; python_version >= '3.5' can not be found. See below image:

![image](https://user-images.githubusercontent.com/50953620/58254054-d5932200-7d61-11e9-8989-7e74cdb3fdf3.png)

The issue can be found within the requirements-dev.txt line 75.

This is because this version no longer exists. Changing it to lief>=0.9.0 allows the install to co

[2019-05-23 14:27] Rafiot commented on #742
It is currently an issue because the released package of lief doesn't support python 3.7 yet: https://github.com/lief-project/LIEF/issues/282#issuecomment-473993736

The current fix is to run this command:
`pip install -I  --extra-index-url https://lief-project.github.io/packages/ lief==0.10.0.dev0`

Sorry for that, it will be fixed very soon with the new release.

[2019-05-23 15:38] lysdexiafj commented on #742
Thanks @Rafiot that has installed now :)

I'll close this down.

[2019-05-23 15:38] #742 closed

[2019-05-25 19:52] Rafiot opened #743 "Add test case for pe resourcedirectorytime"
Sample: 0b9d8936b3cc7994d68f6a03f9d3b001

From: https://github.com/viper-framework/viper/pull/725#issuecomment-495818799

[2019-06-06 22:39] kscarlett opened #744 "Looking for config in the wrong location"
After finally being able to get viper to install, running `viper-cli` returns the following:

[code]

It would seem it is trying to read the config file in the wrong location?

Environment:
- Ubuntu 16.04.6 LTS
- Python 3.5.2
- Viper installed from git commit 1bd4ab0

[2019-06-07 19:02] kscarlett commented on #744
I tried again today after reading through the code. It works as expected after creating `viper.conf` in `~/.viper/` manually.

I still feel like this is not intended or clear enough, so adding this to the documentation might be beneficial. I'll wait for a response first, since I don't know if creating this file manually is the expected way to do this, or whether this is something that's broken (I

[2019-06-13 06:23] loossy opened #747 "How to use Mysql Database in viper?"
I installed Mysql 5.7.26.
And, created Mysql account.

Then, I modified viper.conf

[code]

Then, I executed viper-cli.
showed this mesaage to me.

[code]

Continuously, showed python error that related Mysql.
Database Table was empty, too.

Which Configure settings should be added?

[2019-06-13 18:04] FlawlessLawless opened #748 "Discrepencies between Viper documentation and Swagger UI API docs"
There appear to be some discrepancies between the API docs that the Viper API generates in the Swagger UI versus what the Viper documentation specifies. Some examples:

- For adding tags with a file, the Swagger UI specifies a space separated string must be used for the tag list while the Viper documentation specifies a comma separated string (only a comma separated string seems to work)

- The cu

[2019-06-14 05:35] ITSEC-DACHSER opened #749 "Joe Sandbox -> unexpected keyword argument 'user_agent'"
Seems there is an error in the Joe Sandbox Module since the last commit --> https://github.com/viper-framework/viper/commit/39c4791e906b8a61686dfab11cd6df21b2b2c7ef

**Here is the output:**

[code]

[2019-06-14 07:18] ITSEC-DACHSER commented on #749
Got it.
Used still old Python API Module, sorry.

[2019-06-14 07:18] #749 closed

[2019-07-12 15:57] Dhatheway opened #751 "Unable to Swagger API docs via viper-web"
After following the install instructions I am able to get everythign up and running, but when I click More-> API Docs I get a 500 page and the following error:

`2019-07-12 15:56:14 - django.request - ERROR - log.py:228 - Internal Server Error: /api/v3/docs/
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/django/template/backends/django.py", line 61, in render

[2019-07-12 17:32] frennkie commented on #751
Hm.. I just checked on my dev system and where SwaggerUI works. Can you try to locate the base.html on your system? Maybe the path is off?

[code]

Which version of django-rest-swagger did you install?

[code]

[2019-07-12 17:54] Dhatheway commented on #751
Something appears off for sure I searched for "rest_framework_swagger/base.html" with no results, but when I searched for "base.html" I see my path is in-fact different "/usr/local/lib/python3.6/dist-packages/rest_framework/templates/rest_framework/base.html". In terms of "django-rest-swagger" we are the same.

[code]

[2019-07-12 18:03] Dhatheway commented on #751
Went ahead and updated the path in  "viper/web/viperweb/templates/rest_framework_swagger/index.html"  from "{% extends "rest_framework_swagger/base.html" %}" to "{% extends "rest_framework/base.html" %}" which allows the doc page to load but it just says:

GET /api/v3/docs/
HTTP 200 OK

[2019-07-12 20:00] Dhatheway commented on #751
Reset my test vm and followed the install instructions here https://viper-framework.readthedocs.io/en/latest/installation/index.html and still running into the same issue.

[code]

Ubuntu 18.04.2 LTS
Python 3.6.8
django-rest-swagger==2.2.0

[2019-07-18 02:59] samwakel commented on #583
Any updates on this? Getting this after 60-70 successful submissions via the API. The web-page then returns ```500 - Internal Server Error``` until rebooting the host.

[2019-07-22 19:48] carvey opened #752 "Running modules from API"
I see there happens to be some commented out functionality at the bottom of https://github.com/viper-framework/viper/blob/master/viper/web/viperapi/views.py that looks to do exactly what I need. Between the commented out code and the todo from @frennkie above it all, I'm inclined to think this functionality might not be complete.

Before I set up a test instance of viper and relearn what I have to

[2019-07-24 18:28] jbeley commented on #583
I don't have a complete fix, but I've been able to get more than 100 samples loaded using a postgres backend by tuning the following parameters in the posgresql.conf file:
[code]

[code]

Importing a large collection does stall for a few seconds every once in a while. I realize the postgres settings may be overkill, I'm not a postgres expert.

[2019-08-03 20:57] botherder opened #753 "Viper launch time is slow"
Viper has become quite slow to launch. It takes several seconds to launch even a completely empty installation. We should figure out why and how to optimize this.

[2019-08-03 21:25] botherder opened #754 "Git-based dependencies not working through PyPi install"
While using `pip3 install .` inside Viper's folder works fine, installing through PyPi does not work and fails with the following error:

[code]

We need to investigate how to make this work, so we can wrap up 2.0 and finally release on PyPi.

[2019-08-05 13:33] Rafiot commented on #754
Hmmm right, I need to do an actual release on PyPi then.

I'll work on it asap. When do you want to tag v2.0? The dirty fast fix is to make that optional: none of the git-based deps are critical.

[2019-08-05 15:02] botherder commented on #754
I'd prefer to figure out a way to make it work, cause I imagine other dependencies that are not MISP-related will cause the same issue.

[2019-08-06 07:15] dragonyy opened #755 "Is "pyasn1" module requirement too old?"
In requirements-modules.txt, pyasn1==0.4.5 is inside.

I installed Viper from MISP installation script. It installed scrapy first, and scrapy depends on pyasn1-modules, which asks for pyasn1 greater than 0.4.6. The error message is as following

And after the installation finished, the result to run "pip freeze | grep asn1" is

I don't know whether scrapy will go bad, maybe the authors can decide

[2019-08-06 13:06] botherder commented on #755
I suppose we should just bump our pyasn1 requirement. I don't think it needs to be at 0.4.5 necessarily.

[2019-08-08 19:17] svo80 commented on #751
I am facing the same issue as the previous poster, same Ubuntu version, newly set up in a virtual machine.

[2019-08-11 09:09] #755 closed

[2019-08-16 16:12] cyber-guy opened #758 "Module Documentation"
I am attempting to add some new modules to Viper and have reviewed the Add New Modules documentation here (https://viper-framework.readthedocs.io/en/latest/customize/index.html), created a sample module in /usr/local/src/viper/viper/modules and ran viper-web, however the module doesn't show as an option in the module dropdown when interacting with a file and the command does not exist when attempt

[2019-08-16 18:33] botherder commented on #758
Are you running viper from the local binary? Or did you install it with pip3?

[2019-08-16 19:19] cyber-guy commented on #758
I installed with pip3

[2019-08-16 20:38] botherder commented on #758
Did you install it when your module was already present?

[2019-08-19 14:25] cyber-guy commented on #758
Before.

I did just try "sudo pip3 install ." from /usr/local/src/viper and restarted viper-web to see if it would catch the new module, but it didn't.

[2019-08-24 13:53] cyber-guy commented on #758
Thanks for the assistance. If anyone else runs into the issue, if Viper is installed with pip, new modules must be added to /usr/local/lib/python3.#/dist-packages/viper/modules.
Adding modules to /usr/local/src/viper/viper/modules and doing a pip install again does not appear to add them to the actual package directory.

[2019-08-24 13:53] #758 closed

[2019-08-24 14:00] cyber-guy opened #760 "How to make new modules accessible to Web GUI"
I don't see anything in the documentation, but how do modules become accessible in the Web GUI interface?

For instance the misp module is only accessible via the CLI (either viper-cli or CLI in viper-web) and any new modules I add in modules are also only accessible via the CLI. How can modules new modules be made accessible via the Modules dropdown in the Web GUI and not just CLI?

[2019-09-08 07:20] delbs27 opened #761 "libyara.so undefined symbol: Lookup rule"
Hi, installed the latest version of viper on ubuntu 18.04 as per the first-launch doco https://viper-framework.readthedocs.io/en/latest/installation/index.html#first-launch.

Install proceeded without any errors reported.

first launch of viper-cli results in the below error

viper-cli
Traceback (most recent call last):
  File "./viper-cli", line 10, in <module>
    from viper.core.ui import conso

[2019-09-08 07:26] delbs27 commented on #761
Cancel this, installed under a clean venv and it works fine, i think i have an issue with yara globally installed so a clean venv_viper fixed this.

[2019-09-08 07:26] #761 closed

[2019-09-13 20:49] stevemk14ebr opened #762 "Change directory paths"
I need to have control over the paths malware is saved to. I've already symlinked /tmp to the directory i want. How can i control the final destination directory?

[2019-09-13 21:20] stevemk14ebr commented on #762
I'm dumb, nvm

[code]

[2019-09-13 21:20] #762 closed

[2019-10-29 10:35] srilumpa commented on #742
Just for information, the issue seems still present

[2019-11-05 04:59] qq854051086 opened #765 "matplotlib安装错误"
按照您提供的安装说明，当我进行到`sudo pip3 install .`这里时产生了报错，我觉得这是一个非常尴尬得问题，这么多的安装包，一个报错，其他全部都不安装。
我的问题：
matplotlib安装提示3.1版本，python3.6。
解决办法：`pip install matplotlib` 此时安装的版本为3.0，问题解决

[2019-11-10 17:36] #765 closed

[2019-11-10 18:14] botherder opened #766 "Data files are not properly created during installation"
I am still trying to get a proper installation working using `pip3 install .`
The objective is to be able to eventually create a PyPi package to distribute.

Currently, this is not working:

[code]
And latter adding this to:

[code]

These files are not created for me neither when run as regular user or as root. We should try to keep these static files in the package_data perhaps. Thoughts?

[2019-11-10 18:17] botherder commented on #754
Any thoughts?

At this point I'm wondering whether it makes sense at all to try to install this as a PyPi package, although it would be very convenient.

[2019-11-10 18:18] botherder commented on #744
This is an installation issue. I'm closing this because the root cause is #766.

[2019-11-10 18:18] #744 closed

[2019-11-10 18:25] #698 closed

[2019-11-10 22:26] botherder opened #767 "Should we split up different components?"
As I go through the code-base, I can't help but feeling it is cluttered. I am wondering if it could make sense to try to separate essential components of the software.

For example, I'm thinking:
1. Maintain the current repository for the essential core and CLI.
2. Move all modules to a dedicated repository, and a command to the CLI to pull module updates. This (similarly to how we've done with Cu

[2019-11-10 22:29] #665 closed

[2019-11-10 22:39] emdel commented on #767
I totally agree with you. We should have the essential core and the CLI core and I would say some core modules. Additional modules should go to the 'community' repository and the final user decides what to do.

[2019-11-10 22:57] #766 closed

[2019-11-10 23:01] botherder commented on #754
I thought I had resolved, but this is still not working:

[code]

[2019-11-10 23:05] botherder commented on #754
Ultimately I think we can't have a PyPi package that depends on non-PyPi packages.

[2019-11-11 06:46] Rafiot commented on #754
You're probably right.

I really need to packages these dependencies. But as I cannot really give a timeline for that, I'll probably make these ones optional so we can release a package.

[2019-11-11 08:36] botherder commented on #754
What do you think about #767. In that way we could keep a viper package to a core, and then use git+pip commands from Viper to download and install modules.

[2019-11-11 09:08] Rafiot commented on #767
This is a good approach, the problem being to decide what core and what isn't.

And definitely the web interface should be a dedicated repository, it will also be a lot easier to maintain issues related to it.

[2019-11-11 09:08] Rafiot commented on #754
Yep, 100% agree.

[2019-11-11 19:43] botherder commented on #767
I did a first attempt at this and it is committed now.
Now modules are located at:
https://github.com/viper-framework/viper-modules/
And the web interface is located at:
https://github.com/viper-framework/viper-web/

I uploaded a package of the viper core to PyPi, as `viper-framework` but for some reason it is not appearing in public yet. Maybe it takes some time?
I also added an `update-modules`

[2019-11-11 19:45] botherder commented on #767
@Rafiot I could use your help fixing up the repositories there and the installation of various dependencies.

[2019-11-11 19:46] botherder commented on #754
Closing this ticket as I started work on #767.

[2019-11-11 20:21] Rafiot commented on #767
I'll try to get some work done on that this week (the 3 weeks after that will be difficult).

[2019-11-12 00:48] Evan-Sa opened #768 "Issues with modules"
~/viper$ viper
[!] Something wrong happened while importing the module modules.misp: No module named 'viper.common.constants'
[!] Something wrong happened while importing the module modules.pdf: No module named 'modules.pdftools'
[!] Something wrong happened while importing the module modules.pe: No module named 'viper.common.constants'
[!] Something wrong happened while importing the module modul

[2019-11-12 16:37] botherder commented on #768
Thank, we are aware. It is because of ongoing transition to #767.

[2019-11-12 16:37] #768 closed

[2019-11-13 13:54] botherder opened #769 "Should we convert modules to pruduce JSON output?"
Refactoring the output format is something that has long been discussed.
I am still a bit dissatisfied with how modules outputs is handled, and we probably should look into doing something more programmatic.
How about having modules generate output in JSON and have the console try to interpret how to print it appropriately.
This would also help properly supporting an API server.

[2019-11-14 23:24] #754 closed

[2019-11-15 19:45] Stean opened #770 "update-modules fails when behind a http proxy"
When I tried to update the viper modules after a fresh installation in my 2019.3 Kali VM, viper failed with the error message `FileNotFoundError: [Errno 2] No such file or directory: '/root/.viper/modules': '/root/.viper/modules'`

**Terminal-Output:**
[code]

When I looked into the source code I quickly found out the reason for this message:
In `viper/core/ui/cmd/update-modules.py` the command `g

[2019-11-15 22:44] #770 closed

[2019-11-15 22:44] botherder commented on #770
Not at all. It was my overlook. I was just about to fix this myself.
Thanks.

[2019-11-25 08:15] qq854051086 commented on #692
@botherder 我不知道我和你的观点是否相同，作为网站开发来讲，我特别感兴趣viper的项目结构。很明显它与我常用的项目结构不太一样，从models来讲就是一个特别的地方，他用了自己创建的ORM，而不是Django的，我很欣赏他的写法，让我对网站开发有了深的认识

[2019-11-25 19:13] #692 closed

[2019-11-27 01:18] cosrah opened #772 "viper template improvement request - search_result.html"
the search_result.html need paging.
the code below in your index.html is more useful.

------------------------------------------------------------
`
{% for project in results %}
	{% for item in project.res %}
//
			<td>{{ project.name }}</td>
			<td><a href="{% url 'file-view' project.name item.1 %}">{{ item.0 }}</a></td>
			<td class="mono">{{ item.1 }}</td>
//
	{% endfor %}
{% endfor %}
`
-----

[2019-11-27 02:09] cosrah opened #773 "viper note - need to add created_at and format with <xmp> tag."
1. add created_at on note and tag model.

2. add <xmp> in file.html

`<div class="card-body">`
`  <xmp> {{ note.body }} </xmp>`
`</div>`

[2019-11-27 18:57] botherder commented on #773
Viper web was moved here https://github.com/viper-framework/viper-web. Please make any bug reports or feature requests there.

[2019-11-27 18:57] #773 closed

[2019-11-27 18:57] botherder commented on #772
Viper web was moved here https://github.com/viper-framework/viper-web. Please make any bug reports or feature requests there.

[2019-11-27 18:57] #772 closed

[2019-12-02 09:49] qq854051086 opened #774 "authtoken"
在看过项目代码后我有了新的疑问：我可以根据用户轻松的生成authtoken，但是他的代码在哪里呢？验证相关的代码又在哪里呢？这让我非常着迷。我在进行API相关内容的开发，需要您的帮助，感谢

[2019-12-03 01:01] qq854051086 commented on #774
我觉得我找到了

[2019-12-03 01:01] #774 closed

[2020-01-12 15:56] tjnel opened #775 "Module pydns moved to py3dns for Python 3"
Running Viper within python3 it looks like the module for pDNS has changed from https://pypi.org/project/pydns/ is now https://pypi.org/project/py3dns/ in Python3

` [!] Something wrong happened while importing the module modules.pdns: No module named 'pypdns'`

[2020-01-16 10:52] yousefhawwari opened #776 "Can't found MISP command in the Viper Framework"
![ViperMISP](https://user-images.githubusercontent.com/25611301/72518951-14309c00-385f-11ea-8fb8-e0cd9520f2d6.PNG)

What should i do to integrate the Viper Framework with the MISP ?
(I installed it on the MISP Server but can't found MISP Command in the Viper Framework).

Thank You.

[2020-01-16 11:25] Rafiot commented on #776
Yeah, I need to give some move to the MISP module... Hopefully this month.

[2020-01-19 06:57] yousefhawwari commented on #776
@Rafiot Thank you, we're waiting ..

[2020-01-19 11:23] Rafiot commented on #776
I'll do my best, but I have a bunch of other things on my plate right now.

[2020-01-19 11:41] yousefhawwari commented on #776
@Rafiot Okay! Thank you.

[2020-02-12 10:08] yousefhawwari commented on #776
Dear @Rafiot  ,

Is there any updates on the framework ?

Best Regards,
Yousef Hawwari

[2020-02-14 13:05] Rafiot commented on #776
Hi,

This PR should solve it: https://github.com/viper-framework/viper-modules/pull/2

@botherder: can you give me the access rights on the repo? Or you can merge it directly, please.

[2020-02-14 22:16] botherder commented on #776
Merged.

[2020-02-14 23:20] Rafiot commented on #776
Thank you!

[2020-02-14 23:20] #776 closed

[2020-02-16 22:07] peasead opened #778 "pydeep on macOS"
I was installing this on macOS and ran into issues installing `pydeep` after running `pip3 install viper-framework`. This is a well-known issue with `pydeep` not finding `libssdeep` and its headers (`fuzzy.h`).

I wanted to drop a note in the event any wayward Internet searcher runs into this and doesn't know what to do next.

To fix this, you can install `ssdeep` with Brew to get `libssdeep`.

[c

[2020-02-16 22:07] #778 closed

[2020-02-17 12:29] botherder commented on #775
The imported module is `pypdns` though, not `pydns`.

[2020-02-17 12:37] Rafiot commented on #775
Yes, `pypdns` is the correct name.

I'm currently working on getting the testcases to run again, that will make it easier to figure out what is missing.

[2020-03-19 16:48] Stean opened #779 "Enable users to change their password"
Hi!

Since I couldn't find anything related in the documentation, I wondered whether there is a way for a non-admin user to change his password via the webinterface.
Could somebody tell me if I just missed it or is there really no such possibility?

Thanks in advance
Stean

[2020-03-19 17:00] frennkie commented on #779
The Webinterface is based on a web framework called Django. This does include a form where user can change their password.

Should be hard to find. I can also send the link when I'm at home.

On March 19, 2020 5:48:42 PM GMT+01:00, Stean <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-03-19 17:09] Stean commented on #779
Thanks for the quick response!

I also thought of this and I think, I already found the correct page: https://docs.djangoproject.com/en/3.0/topics/auth/default/#changing-passwords
However, these pages aren't accessible by a non-privileged user.

Example:
If a non-admin User visits the subpage /admin/password_change/, he/she get's the error message **"You are authenticated as [Username], but are no

[2020-03-19 17:30] frennkie commented on #779
Can you try assigning "is staff" privileges to the user and try it again..?!

[2020-03-19 18:50] Stean commented on #779
Yep, thanks, that worked :)
Since in our existing setup only a few users had the staff flag set, I thought that staff permissions would be somehow comparable with admin privileges.

[2020-03-20 17:46] icepaule opened #780 "can't find viper-web anymore"
Hello guys,
sorry, it might be my bad, but after upgrading to the new version I can't find viper-web anymore.
Could it be that it was missing during your last GIT update?

I need web and API for working with ph0neutria.

Thanks a lot
Marcus

[2020-03-20 18:07] frennkie commented on #780
Form which version did you come? Which git commit/branch are you using?

[2020-03-20 18:33] icepaule commented on #780
Hi frennkie,
a pretty old one I guess.
But I found out already that I have to use a seperate git repository for the web. So right now I'm already configuring it.

Thanks a lot for the help anyway.

Cheers and stay safe.
Marcus

[2020-03-20 18:47] frennkie commented on #780
What do you mean by that? There was a major re-write of the web interface. But it still a part of this viper repo. https://viper.li/en/latest/usage/web.html

[2020-03-24 09:54] Rafiot commented on #775
Here it is: https://pypi.org/project/pypdns/

[2020-03-24 09:54] #775 closed

[2020-03-24 09:56] Rafiot commented on #767
That should be fixed now.

[2020-04-13 23:35] olihough86 opened #783 "update-modules fails"
update-modules fails due to 404 on https://pypi.org/simple/scrapysplashwrapper/

`Collecting ScrapySplashWrapper@ git+https://github.com/viper-framework/ScrapySplashWrapper.git#egg=ScrapySplashWrapper (from -r requirements.txt (line 77))
Exception:
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/pip/basecommand.py", line 215, in main
    status = self.run(options, args)

[2020-04-26 14:41] deralexxx commented on #779
As it is has been answered, I will close the issue, thanks @frennkie for helping ;-)

[2020-04-26 14:41] #779 closed

[2020-04-26 14:42] deralexxx commented on #721
is this still an issue? @kadaokaduan  ?

[2020-05-12 06:10] #537 closed

[2020-05-18 20:10] toomanybananas opened #784 "Viper requires old version of asn1crypto, which breaks pip on macOS Catalina"
viper-modules requires asn1crypto==0.24.0, however that version of asn1crypto is broken on the newest version of macOS and will cause viper (as well as many other python packages) to segfault on startup (see https://github.com/Homebrew/homebrew-core/issues/44996).

Upgrading to the latest version seems to work fine for me.

[2020-05-19 08:30] botherder commented on #784
Should be fixed now. Could you please try with `update-modules`?

[2020-05-19 16:14] toomanybananas commented on #784
Not fixed, see https://github.com/viper-framework/viper-modules/blob/master/requirements.txt#L47.

Still wants asn1crypto==0.2.4

[2020-05-21 14:08] purplerem opened #785 "Submit File to Cuckoo through CLI or GUI Not working"
I would like to use the viperframework to submit files to cuckoo.
I start the cuckoo api and and entered the host and web ip address in the viper.conf.
When i try to submit a file to cuckoo i get an error Unable to Submit File.

Then i try using the CLI in Viper cuckoo -f and i get "[!] {'message': "Authentication in the form of an Authorization: Bearer <TOKEN>' header is required"}.
So reading th

[2020-05-21 16:18] botherder commented on #785
I am pretty sure Viper's Cuckoo module is very much out of date and most likely not in sync with current Cuckoo's API specs. We'd need someone to revamp the code.

[2020-05-21 16:28] purplerem commented on #785
i see.   i guess this would be good time to learn some coding.

[2020-05-25 20:19] wesinator commented on #780
https://viper.li/ website and docs are 403 currently

[2020-05-30 10:58] Matthiti opened #786 "Website viper.li returning HTTP status 403"
The website is inaccessible, returning an HTTP status 403.

![image](https://user-images.githubusercontent.com/18379304/83326533-0fe8a680-a275-11ea-996f-24a2eccd62b5.png)

[2020-05-30 12:12] frennkie commented on #786
Already mentioned in #780. @botherder any way we can support you in fixing this?

[2020-05-30 12:54] botherder commented on #786
@frennkie I am not sure actually. I feel it might be an issue with readthedocs.

[2020-05-30 12:59] botherder commented on #786
For the moment, I disabled domain on the RTD, so now the documentation can also be available at:
https://viper-framework.readthedocs.io

[2020-06-06 18:07] lu-chi commented on #786
I guess README.md update with RTD would be a good step.

[2020-07-03 21:43] #783 closed

[2020-07-03 21:55] botherder commented on #786
Fixed in the README.

[2020-07-03 21:55] #786 closed

[2020-08-28 21:35] mhouston007 commented on #780
I had the same issue with the missing viper-web command. I did a fresh install from both pip and source (followed the commands in the docs) and there is no viper-web command

[2020-08-29 12:21] botherder commented on #780
viper-web was split off from the core, and moved here:
https://github.com/viper-framework/viper-web
Currently it's likely not working.

[2020-08-29 12:22] #780 closed

[2020-10-17 14:13] icepaule opened #787 "ERROR: django.template.exceptions.TemplateSyntaxError: 'staticfiles' is not a registered tag library. Must be one of:"
Hello viper-team,

could you please help with this issue raised right after a fresh install?
After login to viper, a 500-Error apears and wont let me do any further action.
Nevertheless, the login to the admin works fine...

Thanks a lot for the help and more thanks for giving us such a great tool .... :-)

Cheers
Marcus

_2020-10-03 13:37:16 - django.request - ERROR - log.py:228 - Internal Server

[2020-10-17 22:04] frennkie commented on #787
Sorry, I missed you opening this at https://github.com/viper-framework/viper-web/issues/8 - let's follow up there.

[2020-10-17 22:04] #787 closed

[2020-10-22 17:19] siftuser opened #788 "using apikey to access cuckoo from viper-web"
Hi!

I'm having trouble with api_token set by vmcloak, while creating cuckoo VMs. Any help, as to how do I configure `viper.conf` to use the `api_token` set in `cuckoo.conf` ?

[code]

I tried both `api_token` & `apikey` as auth param in above `viper.conf`, but no go

On the viper box, I'm seeing this error
[code]
On the cuckoo box, I see following error
[code]

[2020-10-25 18:49] frennkie commented on #788
Please note that `viper-web` has moved to a dedicated repository: https://github.com/viper-framework/viper-web

As far as I see it the dedicated code in `viper-web` for submitting to Cuckoo does not use the api_token. So with would need to be added through a pull request.

[2020-10-25 18:49] #788 closed

[2021-01-29 16:12] izm1chael opened #792 "Unable to launch Viper"
[code]

Fresh install on Ubuntu 16.04 following steps on the Docs,

Does anyone have any way around this?

[2021-02-04 20:01] VenturiniGiacomo commented on #792
Try editing the file "/home/mike/.local/lib/python3.5/site-packages/viper/core/ui/cmd/update-modules.py" at line 29 with

self.log("info", 'Module path: {dot_viper_modules}')

[2021-02-04 20:33] botherder commented on #792
The syntax is correct. You need Python 3.6 to run this properly, but you are still on Python 3.5.

[2021-02-04 20:33] #792 closed

[2021-02-04 21:05] VenturiniGiacomo commented on #792
What means "f"? in original line 29?
self.log("info", f'Module path: {dot_viper_modules}')

[2021-02-04 23:46] botherder commented on #792
It's Python 3.6+ new string formatting standard.

[2021-07-26 06:31] oldmonk007 opened #795 "How can be new modules such as CAPA(by fireEye) can be added to viper?"

[2021-07-26 17:01] botherder commented on #795
https://github.com/viper-framework/viper-modules

[2021-07-26 17:01] #795 closed

[2021-11-18 16:53] icepaule opened #796 ""misp tag -l" -> NameError: name 'Taxonomies' is not defined"
Hello,
whenever using "tag" with the misp statement to retrieve or set a tag, the below error occures.

Could someone please help me?

Thx so much

_viper attachments/813779903208095784/904085162621538304/spoofer.exe > **misp tag -l**
/home/xxx/.local/lib/python3.6/site-packages/urllib3/connectionpool.py:1020: InsecureRequestWarning: Unverified HTTPS request is being made to host 'misp.thesoc.eu'.

[2021-11-18 18:03] Rafiot commented on #796
It is because `pytaxonomies` isn't installed. You can run `pip install pytaxonomies` in the virtualenvironment and that should solve it.

[2021-11-18 18:17] icepaule commented on #796
You are my hero....!!!
Thx a lot. - Works like a charm.  ;-)

[2021-11-18 18:17] #796 closed

[2022-02-03 13:49] SimonHertoge opened #797 "IndexError when outputting Base64 strings to a table"
When scanning an Office document using the office module with `--vba` option, one of the sections olevba returns is the "Base64 strings":
https://github.com/viper-framework/viper-modules/blob/master/office.py#L405

This eventually is printed as a table by `terminaltables`, but crashes when the decoded base64 text contains raw bytes which correspond with newline characters (`\r, \n, \f`, maybe some

[2022-02-09 14:23] Dipsonmick commented on #710
@botherder hello sir. i would love to learn more about nanocore.. would be glad if you can teach me about it.. text me on ICQ via https://icq.im/dipson22

[2022-04-04 12:25] ITSEC-DACHSER opened #798 "Further maintenance of Viper"
Dear maintainer,

first, we would like to thank you for the development of Viper in the last years. In our opinion, Viper is a very handy, valuable and nice tool, which is a fixed part in our eco-system and therefore is used everyday via the (old) API.

Since the last release is been a while, we would like to ask, if there is any chance that Viper, the API and the modules will be further developed

[2022-04-04 13:55] botherder commented on #798
I would be happy to see the tool be developed forward. The time I have to dedicate to this is limited. I would be happy to act in a reviewer function, merge PRs, fix bugs, etc. Unfortunately I am not sure there are others interested in continuing core development at this point.
It is also not fully clear what is the active user base at this point.